package scjson.converter

import scutil.lang.assoc._

import scjson.converter.{
	JsonConverters		=> JC,
	ArrowedConverters	=> AC
}

// NOTE not a standard format
trait KeyedTupleJsonWriters {
	[#implicit def Tuple1Writer[[#T1:JsonWriter#,]]:JsonWriter[([#T1#,])]	=
		([#JsonWriter[T1]# pair ])	>=>
		AC.arrowed1ToMap([#"1"#])	>=>
		JC.makeObjectMap			contraMap
		arrow1#
	]
}
