package scjson.converter

import scutil.lang._
import scutil.lang.TupleNApplySyntax._
import scutil.lang.tc.ApplicativeTupleNSyntax._

import scjson.converter.{
	JsonConverters	=> JC,
	TupleConverters	=> TC,
}

trait TupleJsonReaders {
	[#given Tuple1Reader[[#T1#]](using [#f1:JsonReader[T1]#]):JsonReader[Tuple1[[#T1#]]]	=
		JC.expectArray	>=>
		TC.seqToTuple1	>=>
		Converter { values =>
			Tuple1(
				[#f1.convert#,
				]
			)
			.applyN(values)
			.zipN
		}#

	]
}
