package scjson.converter

import scutil.lang.assoc._

import scjson.converter.{
	JsonConverters		=> JC,
	TupleConverters		=> TC
}

trait TupleJsonWriters {
	[#implicit def Tuple1Writer[[#T1:JsonWriter#,]]:JsonWriter[([#T1#,])]	=
			([#JsonWriter[T1]# pair ])	>=>
			TC.tuple1ToMap([#"1"#])		>=>
			JC.makeObjectMap			contraMap
			arrow1#
	]
}
